@{ ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "ticket_ticketview";
    ViewData["Heading"] = "<i class='fal fa-palette'></i>&nbsp;" + ViewBag.Title;
    ViewData["Category1"] = "Ticket";
    ViewData["PageDescription"] = "10% to Orphan Charity"; }
@section HeadBlock
{
    <script src="~/js/vendors.bundle.js"></script>
    <script src="~/js/app.bundle.js"></script>

    <script src="~/lib/bbp/bbpstandard.js"></script>
}


<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">

    Ticket # @ViewBag.Ticket.TicketNumber:
    <input id="txtName" readonly class="form-control" value="@ViewBag.Ticket.Title" />

    Description:
    <br />
    <textarea id='txtDescription' readonly cols=120 class="form-control" rows=7>@ViewBag.Ticket.Description</textarea>
    <br />

    Submitted By: @Html.Raw(ViewBag.Ticket.BioURL) 

    <br />

    <input id="txtID" type="hidden" value="@ViewBag.Ticket.id" />
    <hr />

    Assign To:
    <br />
    @Html.DropDownList("ddAssignTo", (IEnumerable<SelectListItem>)Model.AssignedToList, "--- Assign To ---", new { @class = "form-control" })

    Disposition:
    <br />
    @Html.DropDownList("ddDisposition", (IEnumerable<SelectListItem>)Model.DispositionList, "--- Disposition ---", new { @class = "form-control" })

    Add a Note:
    <br />
    <textarea id='txtNotes' cols=120 class="form-control" rows=7></textarea>
    <br />

    <br />
    <button class='btn btn-default' onclick="DoCallback(`ticket_edit`,null,'ticket/processdocallback');" id='btnEdit'>
        Edit
    </button>


    <br />
    <hr />
    <!--history here-->
    History:
    <br />
    <div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
        @Html.Raw(ViewBag.TicketHistory)
    </div>

    <br />
    Attachments:
    <div class="card mb-g rounded-top" style="height:300px">
        <iframe style='width:100%;height:100%;border:1px;' src='attachment/attachmentlist?parentid=@ViewBag.TicketID' />
    </div>
</div>



@section ScriptsBlock
{

    <script>


        function changeTicketType() {
        }


    </script>

}