@{ ViewData["Title"] = "Pool - About";
                ViewData["PageName"] = "bbp_poolabout";
                ViewData["Heading"] = "<i class='fal fa-tachometer'></i> &nbsp;Pool - About";
                ViewData["Category1"] = "BBP";
                ViewData["PageDescription"] = "RandomX Mining with Orphan Charity"; }
@section HeadBlock {

  <!--  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js'></script> -->

}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">

    
        <table>
            <tr><td rowspan="10" width="35%">  <img src="@Html.Raw(ViewBag.OrphanPicture)" height="300px" /></tr>
            <tr><td><td width="50%">&#8227;&nbsp;Welcome to the Future of Orphan-Mining</td></tr>
            <tr><td><td>&#8227;&nbsp;Orphan-Charity - Fulfilling James 1:27</tr>
            <tr><td><td>&#8227;&nbsp;RandomX Mining with Dual Hash Rewards (BBP + XMR)</tr>
            <tr><td><td>&#8227;&nbsp;User Friendly</tr>
            <tr><td><td>&#8227;&nbsp;Partnering with the highest efficiency orphan charities</tr>
        </table>

        <br />
        <p>
            <span>
                <font color="red">
                    <br />@Html.Raw(ViewBag.PoolBonusNarrative)
                </font>
            </span>
        </p>

        <hr />
        @Html.Raw(ViewBag.PoolMetrics)
        <br />
        <table>
            <tr>
                <td width="80%">
                    @Html.Raw(ViewBag.ChartOfWorkers)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Raw(ViewBag.ChartOfHashRate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Raw(ViewBag.ChartOfBlocks)
                </td>
            </tr>


        </table>


</div>
@section ScriptsBlock {}
