@{ 
	ViewData["Title"] = "Introduction";
	ViewData["PageName"] = "intel_introduction";
	ViewData["Heading"] = "<i class='fal fa-info-circle'></i> Introduction";
	ViewData["Category1"] = "Application Intel";
	ViewData["PageDescription"] = "A brief introduction to this WebApp";
}
@section HeadBlock {}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
	<h3 class="mb-g">
	Hi Everyone,
	</h3>
	<p>	
	Some time ago we asked for your input, whether you were a seasoned @Settings.App user or just peeking around the corner, and WOW, did you deliver! After reading each and everyone of your replies on the survey, we have taken each piece of praise and criticism to heart to scope out our plans for @Settings.App. All feedback will be used to make your favorite theme that much better, but these were some of the highlights.
	</p>
	<p>
	A whopping 72% of you said you were ready for a fresh new design, while @Settings.App is and a revolutionary view on what a good bootstrap based template should be, having something new to look at can make anyone feel invigorated. And let's be honest, who doesn't like a modern update of your favorite theme! While most you are still happy with the current variations, around 50% of you have asked for vue.js support. With this framework rapidly gaining popularity it is surely one to include in the family of frameworks! And, last, but certainly not least, a very large majority of a staggering 90% wanted more plugins and regular updates.
	</p>
	<p>
	
	Last but not least, we would like to thank each and everyone of you, our loyal customers, for your patience and continued support in @Settings.App. Without you this would not have been possible!
	</p>
	<p>
	Sincerely,<br>
	The @Settings.App Team<br>
	</p>
</div>

<div class="d-flex flex-wrap demo demo-h-spacing mt-3 mb-3">
	<div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center flex-shrink-0">
		<img src="~/img/demo/authors/sunny.png" alt="Sunny A." class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
		<div class="ml-2 mr-3">
			<h5 class="m-0">
				Sunny A. (UI/UX Expert)
				<small class="m-0 fw-300">
					Lead Author
				</small>
			</h5>
			<a href="https://twitter.com/@@myplaneticket" class="text-info fs-sm" target="_blank">@@myplaneticket</a> - 
			<a href="https://wrapbootstrap.com/user/myorange" class="text-info fs-sm" target="_blank" title="Contact Sunny"><i class="@(Settings.Theme.IconPrefix) fa-envelope"></i></a>
		</div>
	</div>
	<div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center flex-shrink-0">
		<img src="~/img/demo/authors/josh.png" alt="Jos K." class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
		<div class="ml-2 mr-3">
			<h5 class="m-0">
				Jos K. (ASP.NET Developer)
				<small class="m-0 fw-300">
					Partner &amp; Contributor 
				</small>
			</h5>
			<a href="https://twitter.com/@@atlantez" class="text-info fs-sm" target="_blank">@@atlantez</a> - 
			<a href="https://wrapbootstrap.com/user/Walapa" class="text-info fs-sm" target="_blank" title="Contact Jos"><i class="@(Settings.Theme.IconPrefix) fa-envelope"></i></a>
		</div>
	</div>
	<div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center flex-shrink-0">
		<img src="~/img/demo/authors/jovanni.png" alt="Jovanni Lo" class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
		<div class="ml-2 mr-3">
			<h5 class="m-0">
				Jovanni L. (PHP Developer)
				<small class="m-0 fw-300">
					Partner &amp; Contributor 
				</small>
			</h5>
			<a href="https://twitter.com/@@lodev09" class="text-info fs-sm" target="_blank">@@lodev09</a> - 
			<a href="https://wrapbootstrap.com/user/lodev09" class="text-info fs-sm" target="_blank" title="Contact Jovanni"><i class="@(Settings.Theme.IconPrefix) fa-envelope"></i></a>
		</div>
	</div>
	<div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center flex-shrink-0">
		<img src="~/img/demo/authors/roberto.png" alt="Jovanni Lo" class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
		<div class="ml-2 mr-3">
			<h5 class="m-0">
				Roberto R. (Rails Developer)
				<small class="m-0 fw-300">
					Partner &amp; Contributor 
				</small>
			</h5>
			<a href="https://twitter.com/@@sildur" class="text-info fs-sm" target="_blank">@@sildur</a> - 
			<a href="https://wrapbootstrap.com/user/sildur" class="text-info fs-sm" target="_blank" title="Contact Roberto"><i class="@(Settings.Theme.IconPrefix) fa-envelope"></i></a>
		</div>
	</div>
</div>



@section ScriptsBlock {}
