@{ ViewData["Title"] = "Add new NFT";
    ViewData["PageName"] = "bbp_nftadd";
    ViewData["Heading"] = "<i class='fal fa-palette'></i>&nbsp;Add New NFT";
    ViewData["Category1"] = "BBP";
    ViewData["PageDescription"] = "NFTs with Integrity"; }
@section HeadBlock 
{
    
}


<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">

    Image:
    <br>
    <img id='imgNFT' width='400px' height='400px' src="@ViewBag.AssetURL" class="rounded-circle shadow-2 img-thumbnail" onclick="document.getElementById('file').click();" alt="">
    &nbsp;Click on Image to Upload your Asset
    <br>

    Description:
    <br />
    <textarea id='txtDescription' cols=120 rows=7>@ViewBag.txtDescription</textarea>

    <br />

    Asset URL:
    <br />
    <input id='txtURL' style='width:600px;' value='@ViewBag.txtURL' />

    <br />
    Description:
    <br />
    <textarea id='txtDescription' cols=120 rows=7>@ViewBag.txtDescription</textarea>


    <br />

    NFT Type:
    <br />
    <select id='ddNFTType'>
    @Html.Raw(ViewBag.ddNFTType);
    </select>
    <br />

    <input id='chkMarketable' value='1' type='checkbox'>&nbsp;Marketable?

    <br />
    

    <button class="btn btn-info xshadow-0 ml-auto" id='btnSubmit' onclick="DoCallback('nft_add');">Submit</button>
    <br />

<span>@ViewBag.lblInfo</span>

</div>

<!-- upload stuff -->
<form id="f1" action="" method="post" enctype="multipart/form-data">
    <!--<button class="btn btn-primary" onclick="document.getElementById('file').click(); return false;">Click it</button>-->

    <input style="visibility:hidden;" type="file" name="file" id="file" onchange="upl_changed();" />
    <div>
        <input style="visibility:hidden;" type="submit" value="Upload" />
    </div>
</form>



@section ScriptsBlock 
{
        
    <script>
    function upl_changed() 
    {
        //document.getElementById("f1").submit();
        UploadFile();
    };



function UploadFile() {
    var file = document.getElementById('file').files[0];
    console.log(file);


    var fileName = file.name;    
    var fd = new FormData();    
    fd.append("file", file);    
    var xhr = new XMLHttpRequest();
    xhr.upload.addEventListener("progress", function (evt) { UploadProgress(evt); }, false);
    xhr.addEventListener("load", function (evt) { UploadComplete(evt); }, false);
    xhr.addEventListener("error", function (evt) { UploadFailed(evt); }, false);
    xhr.addEventListener("abort", function (evt) { UploadCanceled(evt); }, false);
    xhr.open("POST", "bbp/uploadfilenft", true); 
    xhr.send(fd);
}


function UploadProgress(evt) {
    if (evt.lengthComputable) {
        var percentComplete = Math.round(evt.loaded * 100 / evt.total);
        $("#uploading").text(percentComplete + "% ");        
    }
}

function UploadComplete(evt) 
{
    if (evt.target.status == 200)
    {
        //alert(evt.target.responseText);
        console.log(evt.target.responseText);

       // This object contains the return value
       if (evt.target.responseText != null && evt.target.responseText.length > 1) 
       {
             var ob1 = JSON.parse(evt.target.responseText);
             var obj  = JSON.parse(ob1);
             if (obj.returntype == "uploadsuccess") 
             {
                    var oImg = document.getElementById('imgNFT');
                    oImg.src = obj.returnurl;
                    var oURLField = document.getElementById('txtURL');
                    oURLField.value = obj.returnurl;
             } 
             else if (obj.returntype == "modal") 
             {
                    var implant = document.getElementById("implant");
                    try 
                    {
                        removeAllChildNodes(implant);
                    }
                    catch (e) {

                    }
                    var div = document.createElement('div');
                    div.innerHTML = obj.returnbody;
                    implant.appendChild(div);
                    $('#modalid1').modal('show');
             }
        }
    }
    else 
    {
        alert("Error Uploading File");
    }
}

function UploadFailed(evt) {    
    alert("There was an error attempting to upload the file.");
}

function UploadCanceled(evt) {    
    alert("The upload has been canceled by the user or the browser dropped the connection.");
}


</script>

}
