@{ ViewData["Title"] = "Pool - Leaderboard";
    ViewData["PageName"] = "bbp_poolleaderboard";
    ViewData["Heading"] = "<i class='fal fa-tachometer'></i> &nbsp;Pool - Leaderboard";
    ViewData["Category1"] = "BBP";
    ViewData["PageDescription"] = "Dual Merge-Mined Rewards"; }
@section HeadBlock {
  
}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">

    <!--@Html.Raw(ViewBag.PoolLeaderboard)-->


    @model PoolLeaderboardModel.Models.LeaderboardResponse

        <table class=saved>
            <tr><th width=20%>BBP Address</th><th>BBP Shares<th>XMR Shares<th>Efficiency<th>Hash Rate<th>Updated<th>Height</tr>

        @foreach (var leaderboardItem in Model.items)
        {
          <tr>
            <td>@leaderboardItem.BBPAddress</td>
            <td>@leaderboardItem.BBPShares</td>
            <td>@leaderboardItem.XMRShares</td>
            <td>@leaderboardItem.Efficiency</td>
            <td>@leaderboardItem.HashRate</td>
            <td>@leaderboardItem.Updated</td>
            <td>@leaderboardItem.Height</td>
          </tr>
        }
        
        </table>


    </div>
@section ScriptsBlock {}
