<div>

    <h6>This is Test10</h6>
    <br />
    City: <input id="Name1" value="@Model.Name1" style='width:450px;' class="form-control" /><br />

    State: <input id="State" value="@Model.State"  style='width:450px;' class="form-control"/><br />

    Zip: <input id="Zip" value="@Model.Zip"style='width:450px;' class="form-control" /><br />

    StartDate: <input id="StartDate" value="@Model.StartDate" style='width:450px;' class="form-control" /><br />
    <br />

    Id:    @Model.Id<br />

    <button class="btn-default" onclick="DoCallback('test10', '', 'Test/Test10');">Post It</button>

    <br />
</div>