@{ ViewData["Title"] = "Profile";
    ViewData["PageName"] = "page_profile";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-shield-alt'></i>  Profile";
    ViewData["PageDescription"] = "Profile layout";
    ViewData["Category1"] = "Page Views"; }
@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/fa-brands.css">
    <link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
    <script src="~/lib/bbp/bbpcore.js"></script>

}
<div class="row">
    @Html.Raw(ViewBag.Alert)
    <div class="col-lg-6 col-xl-3 order-lg-1 order-xl-1">
        <div class="card mb-g rounded-top">
            <div class="row no-gutters row-grid">
                <div class="col-12">
                    <div class="d-flex flex-column align-items-center justify-content-center p-4">
                        <img src="@ViewBag.BioURL" class="rounded-circle shadow-2 img-thumbnail" onclick="document.getElementById('file').click();" alt="">
                         <h5 class="mb-0 fw-700 text-center mt-3">
                            @ViewBag.NickName
                            <small class="text-muted mb-0">...</small>
                        </h5>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-center py-3">
                        <h5 class="mb-0 fw-700">
                            0
                            <small class="text-muted mb-0">Friends</small>
                        </h5>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-center py-3">
                        <h5 class="mb-0 fw-700">
                            @ViewBag.Balance
                            <small class="text-muted mb-0">BBP</small>
                        </h5>
                    </div>
                </div>
                <div class="col-12">
                    <div class="p-3 text-center">
                        <!--
                        <a href="javascript:void(0);" class="btn-link font-weight-bold disabled">Tip User</a> <span class="text-primary d-inline-block mx-3">&#9679;</span>
                        <a href="javascript:void(0);" class="btn-link font-weight-bold disabled" >Message</a> <span class="text-primary d-inline-block mx-3">&#9679;</span>

                        <a href="javascript:void(0);" class="btn-link font-weight-bold">Connect</a>-->
                    </div>
                </div>
            </div>
        </div>


        <!--  This is the My Photo Albums area...

        <div class="card mb-g">
            <div class="row row-grid no-gutters">
                <div class="col-12">
                    <div class="p-3">
                        <h2 class="mb-0 fs-xl">
                            Photos
                        </h2>
                    </div>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center px-3 py-4 d-flex position-relative height-10 border">
                        <span class="position-absolute pos-top pos-left pos-right pos-bottom" style="background-image: url('/img/demo/gallery/thumb/1.jpg');background-size: cover;"></span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center px-3 py-4 d-flex position-relative height-10 border">
                        <span class="position-absolute pos-top pos-left pos-right pos-bottom" style="background-image: url('/img/demo/gallery/thumb/2.jpg');background-size: cover;"></span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center px-3 py-4 d-flex position-relative height-10 border">
                        <span class="position-absolute pos-top pos-left pos-right pos-bottom" style="background-image: url('/img/demo/gallery/thumb/3.jpg');background-size: cover;"></span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center px-3 py-4 d-flex position-relative height-10 border">
                        <span class="position-absolute pos-top pos-left pos-right pos-bottom" style="background-image: url('/img/demo/gallery/thumb/4.jpg');background-size: cover;"></span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center px-3 py-4 d-flex position-relative height-10 border">
                        <span class="position-absolute pos-top pos-left pos-right pos-bottom" style="background-image: url('/img/demo/gallery/thumb/5.jpg');background-size: cover;"></span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center px-3 py-4 d-flex position-relative height-10 border">
                        <span class="position-absolute pos-top pos-left pos-right pos-bottom" style="background-image: url('/img/demo/gallery/thumb/6.jpg');background-size: cover;"></span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center px-3 py-4 d-flex position-relative height-10 border">
                        <span class="position-absolute pos-top pos-left pos-right pos-bottom" style="background-image: url('/img/demo/gallery/thumb/7.jpg');background-size: cover;"></span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center px-3 py-4 d-flex position-relative height-10 border">
                        <span class="position-absolute pos-top pos-left pos-right pos-bottom" style="background-image: url('/img/demo/gallery/thumb/8.jpg');background-size: cover;"></span>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center px-3 py-4 d-flex position-relative height-10 border">
                        <span class="position-absolute pos-top pos-left pos-right pos-bottom" style="background-image: url('/img/demo/gallery/thumb/9.jpg');background-size: cover;"></span>
                    </a>
                </div>
                <div class="col-12">
                    <div class="p-3 text-center">
                        <a href="javascript:void(0);" class="btn-link font-weight-bold">View all</a>
                    </div>
                </div>
            </div>
        </div>




            -->



        <div class="card mb-g">
            <div class="row row-grid no-gutters">
                <div class="col-12">
                    <div class="p-3">
                        <h2 class="mb-0 fs-xl">
                            Friends
                        </h2>
                    </div>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
                        <span class="profile-image rounded-circle d-block m-auto" style="background-image: url('@ViewBag.BioURL'); background-size: cover;"></span>
                        <span class="d-block text-truncate text-muted fs-xs mt-1">@ViewBag.NickName</span>
                    </a>
                </div>

                <div class="col-12">
                    <div class="p-3 text-center">
                        <!--<a href="javascript:void(0);" class="btn-link font-weight-bold">View all</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="col-lg-12 col-xl-6 order-lg-3 order-xl-2">


        <!--
                    This is the Add Timeline card (Whats on your mind, Rob?) ....

                <div class="card border mb-g">
                    <div class="card-body pl-4 pt-4 pr-4 pb-0">
                        <div class="d-flex flex-column">
                            <div class="border-0 flex-1 position-relative shadow-top">
                                <div class="pt-2 pb-1 pr-0 pl-0 rounded-0 position-relative" tabindex="-1">
                                    <span class="profile-image rounded-circle d-block position-absolute" style="background-image:url('/img/demo/avatars/@(Settings.Theme.Avatar)'); background-size: cover;"></span>
                                    <div class="pl-5 ml-5">
                                        <textarea class="form-control border-0 p-0 fs-xl bg-transparent" rows="4" placeholder="What's on your mind uest?..."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="height-8 d-flex flex-row align-items-center flex-wrap flex-shrink-0">
                                <a href="javascript:void(0);" class="btn btn-icon fs-xl width-1 mr-1" data-toggle="tooltip" data-original-title="More options" data-placement="top">
                                    <i class="@(Settings.Theme.IconPrefix) fa-ellipsis-v-alt color-fusion-300"></i>
                                </a>
                                <a href="javascript:void(0);" class="btn btn-icon fs-xl mr-1" data-toggle="tooltip" data-original-title="Attach files" data-placement="top">
                                    <i class="@(Settings.Theme.IconPrefix) fa-paperclip color-fusion-300"></i>
                                </a>
                                <a href="javascript:void(0);" class="btn btn-icon fs-xl mr-1" data-toggle="tooltip" data-original-title="Insert photo" data-placement="top">
                                    <i class="@(Settings.Theme.IconPrefix) fa-camera color-fusion-300"></i>
                                </a>
                                <button class="btn btn-info shadow-0 ml-auto">Post</button>
                            </div>
                        </div>
                    </div>
                </div>
        -->

        <div class="card mb-g">
            <div class="card-body pb-0 px-4">
                <h3>Wallet</h3>

                <br />
                BBP Address:
                <br />
                <input readonly id="txtBBPAddress" class="form-control" value="@ViewBag.BBPAddress" />

                <br />
                BBP Balance:
                <br />
                <input id="txtBalance" class="form-control" readonly value="@ViewBag.Balance" />

                <br />
                Send to BBP Address:
                <br />
                <input id="txtSendToAddress" class="form-control" />
                <br />
                Amount to Send:
                <br />
                <input id="txtAmountToSend" type="number" class="form-control" />  
                <button class="btn-default" onclick="DoCallback('Profile_SendBBP');">Send BBP</button>

                <br />
                <br />


            </div>
        </div>



        <div class="card mb-g">
            <div class="card-body pb-0 px-4">
                <h3>General Settings</h3>
                <br />
                Nick Name:<br />

                <input id="txtNickName" class="form-control" value="@ViewBag.NickName" />
                <br />

                Chain:
                <br />
                <input readonly id="txtChain" class="form-control" value="@ViewBag.Chain" />

                <button class="btn-default" onclick="var v = {};DoCallback('Profile_ChangeChain',v);">Switch Chain</button>

                <br />
                <br />

                BBP Portfolio Builder Address:
                <br />
                <input id="txtPortfolioBuilderAddress" class="form-control" value="@ViewBag.PortfolioBuilderAddress" />

                <br />
                PB Signature: @Html.Raw(ViewBag.SignRPC)
                <br />
                <textarea id="txtPBSignature" class="form-control" cols="70" rows="4">@ViewBag.PBSignature</textarea>
                <br />

                E-Mail Address:
                <br />
                <input id="txtEmailAddress" class="form-control" value="@ViewBag.EmailAddress" />
                <br />

                <br />
                <button class="btn-default" onclick="var v = {}; v.field1 = '1'; DoCallback('Profile_Save', v);">Save </button>

                <br />
                <br />

            </div>
        </div>


        <div class="card mb-g">
            <div class="card-body pb-0 px-4">
                <h3>Security</h3>
                API Key:
                <br />
                <input id="txtAPIKey" class="form-control"  readonly />

                <br />
                ERC-20 Address:
                <br />
                <input id="txtERC20Address" class="form-control" readonly value="@ViewBag.ERC20Address" />
                <br />
                <br />

            </div>
        </div>


        <!--
            This is a forum type, blog type, web list.  From Evangelist: Narrative, comment, comment, comment...

        <div class="card mb-g">
            <div class="card-body pb-0 px-4">
                <div class="d-flex flex-row pb-3 pt-2  border-top-0 border-left-0 border-right-0">
                    <div class="d-inline-block align-middle status status-success mr-3">
                        <span class="profile-image rounded-circle d-block" style="background-image:url('/img/demo/avatars/avatar-e.png'); background-size: cover;"></span>
                    </div>
                    <h5 class="mb-0 flex-1 text-dark fw-500">
                        uest
                        <small class="m-0 l-h-n">
                            Evangelist
                        </small>
                    </h5>
                    <span class="text-muted fs-xs opacity-70">
                        3 hours
                    </span>
                </div>
                <div class="pb-3 pt-2 border-top-0 border-left-0 border-right-0 text-muted">
                    May an anointing of repentance touch those who are not in Christ.
                </div>
                <div class="d-flex align-items-center demo-h-spacing py-3">
                    <a href="javascript:void(0);" class="d-inline-flex align-items-center text-dark">
                        <i class="fas fa-heart fs-xs mr-1 text-danger"></i> <span>2 Likes</span>
                    </a>
                    <a href="javascript:void(0);" class="d-inline-flex align-items-center text-dark">
                        <i class="@(Settings.Theme.IconPrefix) fa-comment fs-xs mr-1"></i> <span>2 Comments</span>
                    </a>
                </div>
            </div>
            <div class="card-body py-0 px-4 border-faded border-right-0 border-bottom-0 border-left-0">
                <div class="d-flex flex-column align-items-center">
                    <div class="d-flex flex-row w-100 py-4">
                        <div class="d-inline-block align-middle status status-sm status-success mr-3">
                            <span class="profile-image profile-image-md rounded-circle d-block mt-1" style="background-image:url('/img/demo/avatars/avatar-c.png'); background-size: cover;"></span>
                        </div>
                        <div class="mb-0 flex-1 text-dark">
                            <div class="d-flex">
                                <a href="javascript:void(0);" class="text-dark fw-500">
                                    Test name
                                </a><span class="text-muted fs-xs opacity-70 ml-auto">
                                    15 minutes
                                </span>
                            </div>
                            <p class="mb-0">
                                Excellent work, looking forward to it.
                            </p>
                        </div>
                    </div>
                    <hr class="m-0 w-100">
                    <div class="d-flex flex-row w-100 py-4">
                        <div class="d-inline-block align-middle status status-sm status-success mr-3">
                            <span class="profile-image profile-image-md rounded-circle d-block mt-1" style="background-image:url('/img/demo/avatars/avatar-admin.png'); background-size: cover;"></span>
                        </div>
                        <div class="mb-0 flex-1 text-dark">
                            <div class="d-flex">
                                <a href="javascript:void(0);" class="text-dark fw-500">
                                    @(Settings.Theme.User)
                                </a><span class="text-muted fs-xs opacity-70 ml-auto">
                                    3 minutes
                                </span>
                            </div>
                            <p class="mb-0">
                                Congratulations Pastor on the new salvation.
                            </p>
                            <div class="pl-0 d-flex flex-row w-100 pb-0 pt-4">
                                <div class="d-inline-block align-middle status status-sm status-success mr-3">
                                    <span class="profile-image profile-image-md rounded-circle d-block mt-1" style="background-image:url('/img/demo/avatars/avatar-e.png'); background-size: cover;"></span>
                                </div>
                                <div class="mb-0 flex-1 text-dark">
                                    <div class="d-flex">
                                        <a href="javascript:void(0);" class="text-dark fw-500">
                                            uest
                                        </a><span class="text-muted fs-xs opacity-70 ml-auto">
                                            30 seconds
                                        </span>
                                    </div>
                                    <p class="mb-0">
                                        Thanks!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="m-0 w-100">
                    <div class="py-3 w-100">
                        <textarea class="form-control border-0 p-0 bg-transparent" rows="2" placeholder="add a comment..."></textarea>
                    </div>
                </div>
            </div>
        </div>
            -->
        <!--
                                            <div class="card mb-g">

        <div class="card-body pb-0 px-4">
            <div class="d-flex flex-row pb-3 pt-2  border-top-0 border-left-0 border-right-0">
                <div class="d-inline-block align-middle status status-success mr-3">
                    <span class="profile-image rounded-circle d-block" style="background-image:url('/img/demo/avatars/@(Settings.Theme.Avatar)'); background-size: cover;"></span>
                </div>
                <h5 class="mb-0 flex-1 text-dark fw-500">
                    @(Settings.Theme.User)
                    <small class="m-0 l-h-n">
                        Chief of Surgery
                    </small>
                </h5>
                <span class="text-muted fs-xs opacity-70">
                    2 days
                </span>
            </div>

            <div class="d-flex align-items-center demo-h-spacing py-3">
                <a href="javascript:void(0);" class="d-inline-flex align-items-center text-dark">
                    <i class="@(Settings.Theme.IconPrefix) fa-heart fs-xs mr-1"></i> <span>1 Likes</span>
                </a>
                <a href="javascript:void(0);" class="d-inline-flex align-items-center text-dark">
                    <i class="@(Settings.Theme.IconPrefix) fa-comment fs-xs mr-1"></i> <span>0 Comments</span>
                </a>
            </div>
        </div>


        <div class="card-body py-0 px-4 border-faded border-right-0 border-bottom-0 border-left-0">
            <div class="d-flex flex-column align-items-center">
                <div class="py-3 w-100">
                    <textarea class="form-control border-0 p-0 bg-transparent" rows="2" placeholder="add a comment..."></textarea>
                </div>
            </div>
        </div>
                    </div>

                -->



    </div>







    <!--
            <div class="col-lg-6 col-xl-3 order-lg-2 order-xl-3">

                <div class="card mb-g">
                    <div class="row row-grid no-gutters">
                        <div class="col-12">
                            <div class="p-3">
                                <h2 class="mb-0 fs-xl">
                                    Current Project
                                </h2>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="p-3">
                                <h5 class="text-danger">
                                    BBP Improvements
                                    <small class="mt-0 mb-3 text-muted">
                                        Migration of new API to Sanctuaries
                                    </small>
                                    <span class="badge badge-danger fw-n position-absolute pos-top pos-right mt-3 mr-3">Delayed</span>
                                </h5>
                                <div class="row fs-b fw-300">
                                    <div class="col text-left">
                                        Progress
                                    </div>
                                    <div class="col text-right">
                                        26%
                                    </div>
                                </div>
                                <div class="progress progress-xs d-flex mb-2 mt-1">
                                    <span class="progress-bar bg-danger-500 progress-bar-striped" role="progressbar" style="width: 26%" aria-valuenow="26" aria-valuemin="0" aria-valuemax="100"></span>
                                </div>
                                <div class="fw-300 mb-3">
                                    <div class="row">
                                        <div class="col">
                                            Budget
                                        </div>
                                        <div class="col text-right text-danger">
                                            -$5,000.0
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>



        -->


</div>


<!-- upload stuff -->
<form id="f1" action="" method="post" enctype="multipart/form-data">
    <!--<button class="btn btn-primary" onclick="document.getElementById('file').click(); return false;">Click it</button>-->

    <input style="visibility:hidden;" type="file" name="file" id="file" onchange="upl_changed();" />
    <div>
        <input style="visibility:hidden;" type="submit" value="Upload" />
    </div>
</form>



@section ScriptsBlock {
    <script>
        $(document).ready(function () {
        });
    </script>

    <script>
        function upl_changed() {
            document.getElementById("f1").submit();
        };
    </script>


}
